<footer class="footer" id="a1">
    <div class="container1">
        <div class="row1">
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">our services</a></li>
                    <li><a href="#">privacy policy</a></li>
                    <li><a href="#">affiliate program</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Text</a></li>
                    <li><a href="#">returns</a></li>
                    <li><a href="#">History Check</a></li>
                    <li><a href="#">payment options</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Contect</h4>
                <ul>
                    <li><a href="#">textify@deproject.com</a></li>
                    <li><a href="#">+91 1200120012</a></li>
                    <li><a href="#">Ahmedabad,</a></li>
                    <li><a href="#">Gujarat, India</a></li>
                </ul>
            </div>
            <div  id="#h2" class="footer-img">
                <img  src="{{url_for('static', filename='Logo.png')}}" height="80px"  />
            </div>
        </div>
        
        <hr>
        <div>
            <h6 class="h61"> Copyright 2023 : Textify  </h6>
        </div>

    </div>
</footer>