{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="static/css/index.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
{% endblock styles %}

{% block content %}

<div  class="hero-section">
    <div class="hero-content" >
      <h1>Transforming Handwritten Wonders into Digital Marvels</h1>
      <p>Textify is a revolutionary project that has the potential to change the way we interact with the world around us. It is a system that can accurately identify and interpret handwritten texts, opening up a wide range of new possibilities for applications in various fields.</p>
      <a href="#f1" class="hero-button">Learn More</a>
    </div>
  </div>

<div class="container-fluid main-content pt-5 grid">
    <div class="row mt-3">
        <div class="col">
            <button class="btn btn-outline-dark" href="#textify-prompt">
                Take Me To <strong>Textify!<strong> <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"><style>svg{fill: black} svg:hover{fill: white} </style><path d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/></svg>
            </button>
        </div>
    </div>

    <div class="row mt-5" id="textify-prompt">
        <div class="col">
            <form method="POST" action="{{ url_for('home_page') }}" enctype=multipart/form-data>
                {{ form.hidden_tag() }}
                {{ form.photo.label }}: {{ form.photo }}
                {{ form.submit(class="btn btn-outline-dark") }}
            </form>
        </div>
    </div>

    {% if photo %}
    <div class="row mt-5">
        <div class="col">
            <h1 class="display-1">Image</h1>
            <p class="lead mx-5 text-start">
                Here is the image you uploaded: {{ filename }}
            </p>
            <img class="img-fluid" src="{{ photo_path }}">

        </div>
    </div>
    {% endif %}
    {% if text %}
    <div class="row mt-5">
        <div class="col">
            <h1 class="display-1">Recognized Text</h1>
            <p class="lead mx-5 text-start">
                Here is the text recognized from your image:
            </p>
            <div class="text-box">
                <p>{{ text }}</p>
            </div>
        </div>
    </div>
    {% endif %}

    <section class="section" id="f1">
        <div class="content">
          <h2>Why Choose Textify?</h2>
          <dl>
                <dt>Time-Efficient:</dl>
                <dd>Speed up your workflow by digitizing handwritten content in minutes, eliminating the need for manual transcription.</dd>
                <dt>Secure and Confidential:</dl>
                <dd>Rest easy knowing that your data is treated with the utmost confidentiality and security.</dd>
                <dt>Stay Organized:</dl>
                <dd>Organize your digital notes, documents, and sketches effortlessly, making them searchable and easily retrievable.</dd>
          </dl>
        </div>
    
        <div class="image">
          <img src="https://img.gadgethacks.com/img/82/78/63579120623858/0/5-best-apps-for-scanning-text-documents-android.1280x600.jpg" height="280px" alt="Section Image">
        </div>
      </section>

      <section class="section1">
        <div class="section-image1">
          <img src="https://www.hpshop.co.za/media/magefan_blog/Mobile_Scanning_Apps_for_your_Phone1672947024194391.jpg" height="280px" alt="Section Image">
        </div>
    
        <div class="content">
          <h2>Get Started Today!</h2>
          <dl>
              <dd>Transform your handwritten notes into editable digital text effortlessly. Join Handwritten Textify and experience the future of handwritten text recognition. Start now for a smarter, more efficient way to manage your handwritten content.</dd>
          </dl>
        </div>
      </section>
       
    <hr class="hr1">
    <section class= "pricing-sec" id="p1">
        <h2 class="hh3">Pricing For Textify</h2>
      <div class="pricing-container">
        <div class="pricing-box">
          <h2>Basic Plan</h2>
          <ul class="ul5">
            <li>Accurate Recognition</li>
            <li>User-Friendly Interface</li>
            <li>Single Language Support</li>
            <li>Download as Text</li>
          </ul>
          <p>$9.99/month</p>
          <a href="#" class="btn1">Choose Plan</a>
        </div>
    
        <div class="pricing-box">
          <h2>Pro Plan</h2>
          <ul class="ul5">
            <li>Accurate Recognition</li>
            <li>User-Friendly Interface</li>
            <li>Multi-Language Support</li>
            <li>Download as PDF</li>
            <li>Cloud Integration</li>
          </ul>
          <p>$19.99/month</p>
          <a href="#" class="btn1">Choose Plan</a>
        </div>
    
        <div class="pricing-box">
          <h2>Premium Plan</h2>
          <ul class="ul5">
            <li>Accurate Recognition</li>
            <li>User-Friendly Interface</li>
            <li>Multi-Language Support</li>
            <li>Versatile Output Formats</li>
            <li>Cloud Integration</li>
            <li>24/7 Support</li>
          </ul>
          <p>$29.99/month</p>
          <a href="#" class="btn1">Choose Plan</a>
        </div>

        
      </div>
    </section>

    <hr>
    <section>
      <h2 class="hh5">Our Team</h2>
      <div class="team-container">
        <div class="team-member">
          <img src="https://visualflood.com/wp-content/uploads/2022/12/marvel-babies-cute-and-amusing-character-illustrations-by-topher-welsh-11.jpg" alt="Team Member 1" class="member-image">
          <div class="member-name">Shubham</div>
          <div class="member-profession">Designer</div>
        </div>
    
        <div class="team-member">
          <img src="https://i0.wp.com/www.lacasadeel.net/wp-content/uploads/2023/03/327040785_905318780913590_7685919800830755236_n.jpeg?resize=696%2C696mber2.jpg" alt="Team Member 2" class="member-image">
          <div class="member-name">Heet</div>
          <div class="member-profession">Developer</div>
        </div>
    
        <div class="team-member">
          <img src="https://visualflood.com/wp-content/uploads/2022/12/marvel-babies-cute-and-amusing-character-illustrations-by-topher-welsh-16.jpg" alt="Team Member 3" class="member-image">
          <div class="member-name">Madhur</div>
          <div class="member-profession">Developer</div>
        </div>
    
        <div class="team-member">
          <img src="https://i.pinimg.com/736x/57/9b/46/579b46701a067cfad94c7cf9b3f551d0.jpg" alt="Team Member 4" class="member-image">
          <div class="member-name">Dev</div>
          <div class="member-profession">Provider</div>
        </div>
      </div>
    </section>



</div>
{% endblock content %}
